<footer class="footer">
  <small>
    Rails Tutorial
    by <a href="https://www.facebook.com/luis.f.nascimento">Luis Fernando Nascimento</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="mailto:luis.nascimento@injunior.com.br?Subject=Rails%20Tutorial" target="_top">Send Mail</a></li>
    </ul>
  </nav>
</footer>